

<%= month_calendar events: @appointments do |date, appointment| %>
  <%= date %>

  <% @appointments.each do |appointment| %>
    <div>
      <%= appointment.title %>
    </div>
  <% end %>
<% end %>
