<div class="container mx-auto bg-gray-400 h-96 rounded-md flex items-center">
      <div class="sm:ml-20 text-gray-50 text-center sm:text-left">
        <h1 class="text-5xl font-bold mb-4">
          Welcome <br />
          to Beauty Circle
        </h1>
        <p class="text-lg inline-block sm:block"></p>
        <button class="mt-8 px-4 py-2 bg-gray-600 rounded">where you will find all beauty salons in Macedonia in one place.</button>
      </div>
    </div>
  </header>
  <main class="py-16 container mx-auto px-6 md:px-0">
    <section>
      <h1 class="text-3xl font-bold text-gray-600 mb-10">Explore all salons</h1>
      <div class="grid sm:grid-cols-3 gap-4 grid-cols-2">
        <div>
          <div class="bg-gray-300 h-44"></div>
          <h3 class="text-lg font-semibold text-gray-500 mt-2">Salons in <span class="text-gray-700">Skopje</span></h3>
        </div>
        <div>
          <div class="bg-gray-300 h-44"></div>
          <h3 class="text-lg font-semibold text-gray-500 mt-2">Salons in <span class="text-gray-700">Ohrid</span></h3>
        </div>
        <div>
          <div class="bg-gray-300 h-44"></div>
          <h3 class="text-lg font-semibold text-gray-500 mt-2">Salons in <span class="text-gray-700">Bitola</span></h3>
        </div>
      </div>
      <hr class="w-40 my-14 border-4 rounded-md sm:mx-0 mx-auto" />
    </section>
